body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: white;
}

/* MAIN BOX */
.container {
    width: 450px;
    margin: 60px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border: 2px solid #ff0000;
    box-shadow: 0 0 15px red;
}

/* TITLE */
h3 {
    text-align: center;
    color: #0756cc;
    letter-spacing: 2px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #111;
}

/* TABLE CELLS */
th, td {
    border: 1px solid #0756cc;
    padding: 8px;
}

th {
    background-color: #220000;
    color: #0756cc;
}

/* INPUT */
input[type="text"] {
    width: 95%;
    padding: 5px;
    background-color: black;
    color: white;
    border: 1px solid #0756cc;
}

/* BUTTON */
input[type="submit"] {
    padding: 6px 12px;
    background-color: #0756cc;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0756cc;
}

/* RESULT TEXT */
p {
    font-size: 16px;
    margin: 8px 0;
}