body {
    font-family: Arial;
    text-align: center;
    background-color: #ffffff;
}

h2 {
    margin-top: 30px;
}

table {
    margin: 30px auto;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #588be9;
    padding: 10px;
}

th {
    background-color: #588be9;
}
